<%= form_for(@character, html: { class: 'form-horizontal'}) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => "control-label col-sm-3"  %> <i></i>
      <div class="col-sm-6"><%= f.text_field :name, :class => 'form-control' %>
      </div>
  </div>

  <!-- <div class="form-group">
    <%= f.label :game_class, :class => "control-label col-sm-3"  %> <i></i>
    <div class="col-sm-6"><%= f.select :game_class, %w(DeathKnight DemonHunter Druid Hunter Mage Monk Paladin Priest Rogue Shaman Warlock Warrior),{}, { :class => 'form-control' } %>
    </div>
  </div>-->

  <% if !@character.new_record? %>
  <div class="form-group">
    <%= f.label :game_role, :class => "control-label col-sm-3"  %> <i></i>
      <div class="col-sm-6"><%= f.select :game_role, ["Tank", "Ranged DD", "Melee DD", "Healer"],{}, { :class => 'form-control' } %>
      </div>
  </div>

  <!-- <div class="form-group">
    <%= f.label :game_alt_role, :class => "control-label col-sm-3"  %> <i></i>
      <div class="col-sm-6"><%= f.select :game_alt_role, ["Tank", "Ranged DD", "Melee DD", "Healer"],{}, { :class => 'form-control' } %>
      </div>
  </div> -->
  <% end %>
  <!--<div class="form-group">
    <%= f.label :game_tag, :class => "control-label col-sm-3"  %> <i></i>
      <div class="col-sm-6"><%= f.text_field :game_tag, :class => 'form-control' %>
      </div>
  </div> -->

  <!-- <div class="form-group">
    <%= f.label :armory_addr, :class => "control-label col-sm-3"  %> <i></i>
      <div class="col-sm-6"><%= f.text_field :armory_addr, :class => 'form-control' %>
      </div>
  </div> -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
